
/log/
/provision/vvv-nginx.conf
/public_html/wp-content/uploads/
/public_html/wp-config.php
/public_html/README.md
/public_html/.DS_Store
wp-content/package-lock.json
wp-content/package.json
wp-content/package-lock.json
wp-content/uploads
.DS_Store/